{% extends 'admin.html' %}
{% load bootstrap %}
{% block seccion-contenido %}
    
	<div class="login-container">

    <div class="col-md-12">

    <form class="form-signin" id='formulario' method='post' action=''>{% csrf_token %}

<div class="panel panel-primary">
			<div class="panel-heading">

        <h2 class="form-signin-heading">Entrar</h2>
 {% comment %}
 	       <input type="text" class="form-control" placeholder="Email address" autofocus>
         <input type="password" class="form-control" placeholder="Password">
         <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
 {% endcomment %}
			</div>
			<div class="panel-body">
 {{formulario | bootstrap }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
		{{error_log}}
<div class="fb-share-button" data-href="https://quiniela.turpialdev.com/" data-type="button_count"></div> Invita a tus amigos.
</div>
</div>


      </form>

    </div>
</div>



{% endblock %}
