{% extends 'admin.html' %}
{% block titulo %}
    Hola {{ usuario.first_name }} {{ usuario.last_name }}
{% endblock %}
{% block seccion-contenido %}


<!-- Empieza bloque 2 próximos juegos -->
<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Próximos juegos</h4>
		</div>
		<div class="panel-body">
			{% for proximo in proximos %}
			<div class="ppartido-home">
				<div  class="apuesta-fechas">
					{{ proximo.fecha }} {{ proximo.hora }}
				</div>
				<div class="apuesta-banderas-l">
					<img src="{{ MEDIA_URL }}{{ proximo.equipoL.bandera }}" height="30" width="43">
				</div  class="apuesta-equipos">
				<div class="centrado-apuestas">
					<div class="uresultados-equipos">
						{{ proximo.equipoL }}
					</div>
					<div class="uresultados-equipos">
						{{ proximo.equipoV }}
					</div>
				</div>
				<div class="apuesta-banderas-v">
					<img src="{{ MEDIA_URL }}{{ proximo.equipoV.bandera }}" height="30" width="43">
				</div>
			</div>
		    	{% endfor %}
		</div>
	</div>

<!-- Termina bloque 2 próximos juegos -->
<!-- Empieza bloque 1 últ juegos -->

	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Últimos Resultados</h4>
		</div>
		<div class="panel-body">
			{% for partido in partidos %}
        		<div class="ppartido-home">
				<div  class="apuesta-fechas">
					{{ partido.fecha }} {{ partido.hora }}
				</div>
				<div class="apuesta-banderas-l">
					<img src="{{ MEDIA_URL }}{{ partido.equipoL.bandera }}" height="30" width="43">
				</div >
				<div class="centrado-apuestas">
					<div class="apuesta-equipos-l">
						{{ partido.equipoL }}
					</div>
		        		<div class="apuesta-resultados-l">
		            			<div class=" ">
		                			{{ partido.golesL }}
		            			</div>
		        		</div>
	  		 		<div class="apuesta-resultados-v">
		            			<div class=" ">
		                			{{ partido.golesC }}
		            			</div>
		        		</div>
					<div class="apuesta-equipos-v">
						{{ partido.equipoV }}
					</div>
				</div>
				<div class="apuesta-banderas-v">
					<img src="{{ MEDIA_URL }}{{ partido.equipoV.bandera }}" height="30" width="43">
				</div>
			</div>
    			{% endfor %}
		</div>
	</div>
</div>
<!-- Termina bloque 1 últ juegos -->

<!-- Empieza bloque 4 torneos -->
<div class="col-md-6">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Torneos</h4>
		</div>
		<div class="panel-body">
			<ul>
			    {% for torneo in torneos_admin %}
				<li class="torneos-li"><a href="/ver_torneo/{{ torneo.id }}"><strong>{{ torneo.nombre }}</strong></a> - <strong>Admin:</strong> {{ torneo.administrador.first_name }} - <a href="/editar_torneo/{{ torneo.id }}" class="btn-sm btn-default btn-primary">Invitar jugadores</a></li>
			    {% endfor %}
			    {% for torneo in torneos %}
				<li class="torneos-li"><a href="/ver_torneo/{{ torneo.id }}"><strong>{{ torneo.nombre }}</strong></a>
                    - <strong>Admin:</strong> {{ torneo.administrador.first_name }} -
                      <a href="/editar_torneo/{{ torneo.id }}" class="btn-sm btn-default btn-primary">Invitar jugadores</a>
                </li>
			    {% endfor %}
			</ul>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h4>Invitaciones</h4>
		</div>
		<div class="panel-body">
			<ul>
			    {% for invitacion in invitaciones %}
				<li>
				    {{ invitacion.torneo.nombre }} (<a href="/invitacion/{{ invitacion.hash }}">Aceptar</a> | <a href="/rechazar/{{ invitacion.torneo.id }}">Rechazar</a>)
				</li>
			    {% endfor %}
			</ul>
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading">
		    <h4>Top 10</h4>
		</div>
		<div class="panel-body">
			<div class="top10">
	    			<ul>
					{% for puntaje in puntajes %}
		    			<li>
						<div class="top10-nombre">
							{{ puntaje.usuario.first_name }} {{ puntaje.usuario.last_name }}
						</div>
						<div class="top10-puntos"> 
							<strong>{{ puntaje.puntaje }}</strong>
						</div>
					</li>
			 	       {% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- Termina bloque 3 top 10 -->
{% endblock %}
