{% extends 'admin.html' %}
{% block titulo %}
<div class="container">

Introduce tu quiniela

</div>
{% endblock %}
{% block seccion-contenido %}



<div class="container">

	<div class="apuesta-container">
		<div class="panel panel-primary">
			<div class="panel-heading">

    <h4>Grupo {{ grupo.nombre }}</h4>
			</div>
		<div class="panel-body">



    <form class="form-signin" id='formulario' method='post' action=''>{% csrf_token %}

        {% for partido in partidos %}

<div>
	<div  class="apuesta-fechas">
		{{ partido.0.fecha }} {{ partido.0.hora }}
	</div>

	
	<div class="apuesta-banderas-l">
		<img src="{{ MEDIA_URL }}{{ partido.0.equipoL.bandera }}" height="30" width="43">
	</div  class="apuesta-equipos">
<div class="centrado-apuestas">	
	<div class="apuesta-equipos-l">
		{{ partido.0.equipoL }}
	</div>
                <div class="form-group {% if partido.1 %}  {% else %} has-error {% endif %} apuesta-resultados">
                    <div class=" ">
                        <input type="text" value="{{ partido.2 }}" class=" form-control" name="resultado-{{ partido.0.id }}-{{ partido.0.equipoL.id }}"/>
                        {% if partido.1 %}
                        {% else %}
                            <span class="help-block ">Este campo es obligatorio y debe ser un numero.</span>
                        {% endif %}
                    </div>
                </div>
  		 <div class="form-group {% if partido.1 %}  {% else %} has-error {% endif %} apuesta-resultados">
                    <div class=" ">
                        <input type="text" value="{{ partido.3 }}" class="form-control" name="resultado-{{ partido.0.id }}-{{ partido.0.equipoV.id }}"/>
                    </div>
                    {% if partido.1 %}
                        {% else %}
                            <span class="help-block ">Este campo es obligatorio y debe ser un numero.</span>
                        {% endif %}
                </div>
	<div class="apuesta-equipos-v">
		{{ partido.0.equipoV }}
	</div>
	</div>
	<div class="apuesta-banderas-v">
		<img src="{{ MEDIA_URL }}{{ partido.0.equipoV.bandera }}" height="30" width="43">
	</div>
	
</div>


             

        {% endfor %}
    
    <button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>
    </form>
</div>
</div>

</div>
</div>
{% endblock %}
