{% extends 'admin.html' %}
{% block titulo %}
    Grupo {{ grupo.nombre }}
{% endblock %}
{% block seccion-contenido %}
    <form class="form-signin" id='formulario' method='post' action=''>{% csrf_token %}
    <table>
        {% for partido in partidos %}
            <tr>
                <td>{{ partido.0.fecha }} {{ partido.0.hora }}</td>
            </tr>
            <tr>
                <td>{{ partido.0.equipoL.bandera }}</td>
                <td>{{ partido.0.equipoV.bandera }}</td>
            </tr>
            <tr>
                <td>{{ partido.0.equipoL }}</td>
                <td>{{ partido.0.equipoV }}</td>
            </tr>
            <tr>
                <td>
                <div class="form-group {% if partido.1 %}  {% else %} has-error {% endif %}">
                    <div class=" ">
                        <input type="text" value="{{ partido.2 }}" class=" form-control" name="resultado-{{ partido.0.id }}-{{ partido.0.equipoL.id }}"/>
                        {% if partido.1 %}
                        {% else %}
                            <span class="help-block ">Este campo es obligatorio y debe ser un numero.</span>
                        {% endif %}
                    </div>
                </div>
                </td>
                <td>
                <div class="form-group {% if partido.1 %}  {% else %} has-error {% endif %}">
                    <div class=" ">
                        <input type="text" value="{{ partido.3 }}" class="form-control" name="resultado-{{ partido.0.id }}-{{ partido.0.equipoV.id }}"/>
                    </div>
                    {% if partido.1 %}
                        {% else %}
                            <span class="help-block ">Este campo es obligatorio y debe ser un numero.</span>
                        {% endif %}
                </div>
                </td>
            </tr>
        {% endfor %}
    </table>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Guardar</button>
    </form>
{% endblock %}