<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Quiniela Turpial</title>

    <!-- COMPILED LESS -->
<!--     <link href="{{ STATIC_URL }}/css/main.css"  type="text/css" rel="stylesheet">      -->
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- uncompiled LESS -->
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/main.less" />
	<script>
	  less = {
	    env: "development",
	    async: true,
	    fileAsync: false,
	    poll: 1000,
	    functions: {},
	    dumpLineNumbers: "comments",
	    relativeUrls: false,
	    rootpath: "/a.com/"
	  };
	</script>
	<script src="{{ STATIC_URL }}js/less-1.7.0.min.js"></script>

    <!-- OVERRIDE CSS -->
<!--     <link href="{{ STATIC_URL }}/css/override.css"  type="text/css" rel="stylesheet"> -->


    
    {% block css %}
    	{# solo para casos muy particulares #}
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
		<a class="navbar-brand" href="#"><img src="{{ STATIC_URL }}img/pajaro.png" height="30"> Quiniela Turpial</a>		
                
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li>

                    <a  href="/mi_quiniela">
                        <i class="fa fa-male fa-fw"></i>Mi quiniela</i>
                    </a>

                    <!-- /.dropdown-messages -->
                </li>
                <li>
                    <a  href="/crear_notificacion/0"">
                        <i class="fa fa-globe fa-fw"></i>Clasificación</i>
                    </a>

                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                                <!-- /.dropdown -->
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-trohpy fa-fw"></i>Torneos <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/perfil">Mis torneos</a>
                        </li>
                        <li><a href="/crear_torneo"></i>Crear Torneo</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i></a>
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->


        <div id="main" class="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alertas-ajax"  id="alertas-ajax"></div>
                    {% block header %}
                    <h1 class="page-header">{% block titulo%}{% endblock %}</h1>
                    <p class="heading">{% block subtitulo%}{% endblock %}</p>
                    {% endblock %}
                </div>
                {% block breadcrumbs %}
                {% endblock %}
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% block seccion-contenido%}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->
		<footer>
			
		</footer>
    </div>
    <!-- /#wrapper -->

  {# CARGAR SIEMPRE  #}
{#    <script src="{{ STATIC_URL }}/js/jquery-1.10.2.js"></script> #}
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/jquery-1.10.2.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/metisMenu/jquery.metisMenu.js"></script>

	{# datepicker #}
    <script src="{{ STATIC_URL }}js/plugins/datepicker/bootstrap-datepicker.js"></script>

    
    {# Libreria Morris para graficos #}
    <script src="{{ STATIC_URL }}js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/morris/morris.js"></script> 


	{#     SB Admin Scripts - Include with every page #}
    <script src="{{ STATIC_URL }}js/sb-admin.js"></script>

	{# jquery UI #}
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom.min.js"></script>


    <script type="text/javascript">


function listo(stado,tarea){

    $.ajax({

        data:{estado:stado, tarea:tarea},
        url:'/modificar_estado_tarea/',
        type:'GET',
        error:function(a,b,c){

            $('#alertas-ajax').addClass('alert');
            $('#alertas-ajax').addClass('alert-danger');
            document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
            console.log(c);
        }

    }).done(function(data){

        if(data.status == 'True'){

/*             $("#check-"+tarea).attr('name','1'); */
            $("#pendiente-"+tarea).removeClass("activo");
            $("#tarea-"+tarea).fadeOut();

        }else if(data.status == 'False'){

/*             $("#check-"+tarea).attr('name','2'); */
            $("#realizada-"+tarea).addClass("activo");


        }else if(data.status == "None"){
            $("#no-aplica-"+tarea).removeClass("activo");
            $("#tarea-"+tarea).fadeOut();

        }

    });

}

</script>

	{% block js-nivel-1 %}
	{% endblock %}
	{% block js-nivel-2 %}
	{% endblock %}
	{% block js-nivel-3 %}
	{% endblock %}
	
	{% block js %}
	{% endblock %}

</body>

</html>
