<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Intranet Fotomov - {{seccion}}</title>

    <!-- COMPILED LESS -->
<!--     <link href="{{ STATIC_URL }}/css/main.css"  type="text/css" rel="stylesheet">      -->
    <link href="{{ STATIC_URL }}font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- uncompiled LESS -->
    <link rel="stylesheet/less" type="text/css" href="{{ STATIC_URL }}less/main.less" />
	<script>
	  less = {
	    env: "development",
	    async: true,
	    fileAsync: false,
	    poll: 1000,
	    functions: {},
	    dumpLineNumbers: "comments",
	    relativeUrls: false,
	    rootpath: "/a.com/"
	  };
	</script>
	<script src="{{ STATIC_URL }}js/less-1.7.0.min.js"></script>

    <!-- OVERRIDE CSS -->
<!--     <link href="{{ STATIC_URL }}/css/override.css"  type="text/css" rel="stylesheet"> -->


    
    {% block css %}
    	{# solo para casos muy particulares #}
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Men&uacute;</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="/escritorio/"><img src="{{STATIC_URL}}img/fotomov-logo.png" alt="Intranet Fotomov"></a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a  href="/crear_notificacion/0"">
                        <i class="fa fa-microphone fa-fw"></i>Nueva Conversacion <i class="fa fa-plus fa-fw"></i>
                    </a>

                    <!-- /.dropdown-messages -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown keep-open">
                    <a class="dropdown-toggle tasks-toggle" id="tasks-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i> Tareas <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        {% for tarea in tareas_menu %}
                        <li class="tarea" id="tarea-{{ tarea.id }}" {% if  tarea.lista == 'None' or tarea.lista == 'True' %} style="display: none" {% endif %}>
                            <div class="acciones">
								<button id='realizada-{{ tarea.id }}' name = '2' onclick="listo(this.name,{{ tarea.id }})" class="btn-tarea  btn-xs btn-default btn btn-block {% if tarea.lista == "True" %} activo{% endif %}" ><i class="fa fa-thumbs-o-up"></i> Realizada</button>
								
								<button id='pendiente-{{ tarea.id }}'  name = '1' class="btn-tarea btn-xs btn-default btn btn-block  {% if tarea.lista == "False" %} activo{% endif %}" onclick="listo(this.name,{{ tarea.id }})" ><i class="fa fa-thumbs-o-down"></i> Pendiente</button>	
																
								<button id='no-aplica-{{ tarea.id }}'  class="btn-tarea btn-xs btn-default btn btn-block no-aplica  {% if tarea.lista == "None" %} activo{% endif %}" onclick="listo('0',{{ tarea.id }})" ><i class="fa fa-times"></i> No Aplica</button>								
								
								
					{% comment %}
						
												   <button {% if tarea.lista == "True" %} name = '1'{% else %}name = '2'{% endif %} class="checkmark {% if tarea.lista == "True" %} listo{% endif %}" id='check-{{ tarea.id }}'>{% if tarea.lista == "True" %}{% endif %}</button>
					{% endcomment %}
                            </div>
                            <a class="datos" href="/ver_tarea/{{ tarea.id }}">
                                <div>
                                        <h5 class="task-title">{{ tarea.nombre }}</h5>
                                        <div class="detalle">
                                            <span class="evento">{% if tarea.evento %}Evento: {{ tarea.evento.nombre }}{% endif %}</span><br>
                                            <span class="fecha"><i class="fa fa-calendar"></i> {{ tarea.fecha }}</span>
                                        </div>
                                </div>
                            </a>
                        </li>
                         {% endfor %}
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="/listar_tareas/">
                                <strong>Todas mis tareas</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-tasks -->
                </li>
                <!-- /.dropdown -->
{% comment %}
	                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Mensaje enviado
                                    <span class="pull-right text-muted small">10:30am</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/crear_tarea">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i>Nueva Tarea
                                    <span class="pull-right text-muted small">9:54am</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Notificacion
                                    <span class="pull-right text-muted small">Ayer</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Todas las alertas</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
{% endcomment %}
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/editar_perfil/0"><i class="fa fa-user fa-fw"></i> Mi perfil</a>
                        </li>
                        <li><a href="/configuracion/0"><i class="fa fa-gear fa-fw"></i> Configuración</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Cerrar Sesion</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

        </nav>
        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
{% comment %}
	                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                        <!-- /input-group -->
                    </li>

{% endcomment %}
                    <li id="menu-escritorio" >
                        <a href="/escritorio"><i class="fa fa-desktop fa-fw"></i> Escritorio</a>
                    </li>
                    <li id="menu-staff" >
                        <a href="#"><i class="fa fa-user fa-fw"></i> Staff<span class="fa arrow"></span></a>
                          <ul class="nav nav-second-level">
                            <li>
                                <a href="/nuevo_usuario"><i class="fa fa-plus fa-fw"></i> Nuevo staff</a>
                            </li>
                            <li>
                                <a href="/listar_usuario/0"><i class="fa fa-list-ul fa-fw"></i> Lista de staff</a>
                            </li>
                            <li>
                                <a href="/configurar_staff/0"><i class="fa fa-cog fa-fw"></i> Configuracion privilegios</a>
                            </li>
                            <li>
                                <a href="/listar_bloques/0/"> <i class="fa fa-list-ul fa-fw"></i>Bloques de hora de staff</a>
                            </li>
                        </ul>
                    </li>
                    <li id="menu-marcas" >
                        <a href="#"><i class="fa fa-tags"></i> Marcas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/nueva_marca"><i class="fa fa-plus fa-fw"></i> Nueva Marca</a>
                            </li>
                            <li>
                                <a href="/listar_marcas/0"><i class="fa fa-list-ul fa-fw"></i> Lista de Marcas</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu-macroclientes" >
                        <a href="#"><i class="fa fa-users fa-fw"></i> Macroclientes<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/nuevo_macrocliente"><i class="fa fa-plus fa-fw"></i> Nuevo macrocliente</a>
                            </li>
                            <li>
                                <a href="/listar_macroclientes/0"><i class="fa fa-list-ul fa-fw"></i>Lista de Macroclientes</a>
                            </li>
                            <li>
                                <a href="/crear_notificacion/2"><i class="fa fa-microphone fa-fw"></i> Registrar conversaci&oacute;n</a>
                            </li>
                            <li>
                                <a href="/listar_notificaciones_macroclientes"><i class="fa fa-folder-open fa-fw"></i> Historial de conversaci&oacute;n</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu-clientes" >
                        <a href="#"><i class="fa fa-male fa-fw"></i> Clientes<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/nuevo_cliente/"><i class="fa fa-plus fa-fw"></i>Nuevo Cliente</a>
                            </li>
                            <li>
                                <a href="/listar_clientes/0"><i class="fa fa-list-ul fa-fw"></i>Lista de clientes</a>
                            </li>
                            <li>
                                <a href="/crear_notificacion/1"><i class="fa fa-microphone fa-fw"></i> Registrar conversaci&oacute;n</a>
                            </li>
                            <li>
                                <a href="/listar_notificaciones_clientes"><i class="fa fa-folder-open fa-fw"></i> Historial de conversaci&oacute;n</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->

                    </li>
                    <li id="menu-eventos" >
                        <a href="#"><i class="fa fa-camera fa-fw"></i> Eventos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/nuevo_tipo_de_evento/0/"><i class="fa fa-plus fa-fw"></i> Crear tipo de eventos</a>
                            </li>
                            <li>
                                <a href="/nuevo_evento"><i class="fa fa-plus fa-fw"></i> Crear evento</a>
                            </li>
                            <li>
                                <a href="/listar_evento/0"><i class="fa fa-list-ul fa-fw"></i> Lista de eventos</a>
                            </li>
                            <li>
                                <a href="/calendario_de_eventos"><i class="fa fa-calendar fa-fw"></i> Calendario de eventos</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-cof fa-fw"></i> Configuración predeterminada</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu-administracion" >
                        <a href="#"><i class="fa fa-usd fa-fw"></i> Administraci&oacute;n<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                            <a href="#"><i class="fa fa-briefcase fa-fw"></i> Lotes <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/administrar_lotes/"> Ver lotes Admin</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-plus"></i> Agregar <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="/nuevo_gasto/">Nuevo Gasto</a>
                                    </li>
                                    <li>
                                        <a href="/nueva_forma_de_pago/">Nueva Forma de Pago</a>
                                    </li>
                                    <li>
                                        <a href="/nuevo_tipo_de_gasto/">Nuevo Tipo de Gasto</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu-tareas" >
                        <a href="#"><i class="fa fa-pencil-square-o fa-fw"></i> Gestionar tareas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/crear_tarea/"><i class="fa fa-plus fa-fw"></i> Asignar tarea</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-list-ul fa-fw"></i> Lista de tareas</a>
                            </li> 
                            <li>
                                <a href="/listar_tareas/"><i class="fa fa-pencil-square-o fa-fw"></i> Mis tareas</a>
                            </li>
                            <li>
                                <a href="/listar_todas_tareas/"><i class="fa fa-road fa-fw"></i> Supervisi&oacute;n tareas</a>
                            </li>
                            <li>
                                <a href="/crear_notificacion/1/"><i class="fa fa-plus fa-fw"></i> Asignar notificaci&oacute;n</a>
                            </li> 
                            <li>
                                <a href="/listar_notificaciones/"><i class="fa fa-list-ul fa-fw"></i> Lista de notificaciones</a>
                            </li> 
                            <li>
                                <a href="#"><i class="fa fa-pencil-square-o fa-fw"></i> Mis notificaciones</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu-pedidos" >
                        <a href="#"><i class="fa fa-shopping-cart fa-fw"></i> Pedidos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/listar_pedidos">Buscar pedidos</a>
                            </li>
                            <li>
                                <a href="/listar_pedidos_pendientes">Pedidos pendientes</a>
                            </li>
                            <li>
                                <a href="/listar_pedidos_sin_pagar">Pagos Pendientes</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu-edicion" >
                        <a href="/edicion_lotes/"><i class="fa fa-briefcase fa-fw"></i> Edicion lotes (Editor)</a>
                    </li>
                    <li id="menu-generarlotes" >
                        <a href="/generar_lote"><i class="fa fa-picture-o"></i> Generar Lotes</a>
                    <li id="menu-productos" >
                        <a href="#"><i class="fa fa-tags"></i> Productos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/listar_producto/0">Listar Productos</a>
                            </li>
                            <li>
                                <a href="/nuevo_producto"><i class="fa fa-plus"></i>Nuevo Producto</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li id="menu-especiales" >
                        <a href="#"><i class="fa fa-star-o fa-fw"></i> Servicios especiales</a>
                    </li>
                    <li id="menu-estadisticas" >
                        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Estad&iacute;sticas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/estadisticas_marcas/">Marcas</a>
                            </li>
                            <li>
                                <a href="/estadisticas_clientes/">Clientes</a>
                            </li>
                            <li>
                                <a href="/estadisticas_staff/">Staff</a>
                            </li>
                            <li>
                                <a href="/estadisticas_graficos/">Gr&aacute;ficos</a>
                            </li>
                        </ul>
                    </li>
                    </li>
{% comment %}
	                    <li id="menu-otro" >
                        <a href="#"><i class="fa fa-lock fa-fw"></i> Otro elemento<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Item segundo nivel</a>
                            </li>
                            <li>
                                <a href="#">Item segundo nivel</a>
                            </li>
                            <li>
                                <a href="#">Third Level <span class="fa arrow"></span></a>
                                <ul class="nav nav-third-level">
                                    <li>
                                        <a href="#">Item tercer nivel</a>
                                    </li>
                                    <li>
                                        <a href="#">Item tercer nivel</a>
                                    </li>
                                    <li>
                                        <a href="#">Item tercer nivel</a>
                                    </li>
                                    <li>
                                        <a href="#">Item tercer nivel</a>
                                    </li>
                                </ul>
                                <!-- /.nav-third-level -->
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>

{% endcomment %}                </ul>
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="main" class="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="alertas-ajax"  id="alertas-ajax"></div>
                    {% block header %}
                    <h1 class="page-header">{% block titulo%}{% endblock %}</h1>
                    <p class="heading">{% block subtitulo%}{% endblock %}</p>
                    {% endblock %}
                </div>
                {% block breadcrumbs %}
                {% endblock %}
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% block seccion-contenido%}
            {% endblock %}
        </div>
        <!-- /#page-wrapper -->
		<footer>
			
		</footer>
    </div>
    <!-- /#wrapper -->

  {# CARGAR SIEMPRE  #}
{#    <script src="{{ STATIC_URL }}/js/jquery-1.10.2.js"></script> #}
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/jquery-1.10.2.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/metisMenu/jquery.metisMenu.js"></script>

	{# datepicker #}
    <script src="{{ STATIC_URL }}js/plugins/datepicker/bootstrap-datepicker.js"></script>

    
    {# Libreria Morris para graficos #}
    <script src="{{ STATIC_URL }}js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/plugins/morris/morris.js"></script> 


	{#     SB Admin Scripts - Include with every page #}
    <script src="{{ STATIC_URL }}js/sb-admin.js"></script>

	{# jquery UI #}
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.4.custom.min.js"></script>


    <script type="text/javascript">


function listo(stado,tarea){

    $.ajax({

        data:{estado:stado, tarea:tarea},
        url:'/modificar_estado_tarea/',
        type:'GET',
        error:function(a,b,c){

            $('#alertas-ajax').addClass('alert');
            $('#alertas-ajax').addClass('alert-danger');
            document.getElementById('alertas-ajax').innerHTML = "<button type='button' class='close' data-dismiss='alert' aria-hidden='True'>&times;</button>Hubo un error de comunicación "+c+"</div>"
            console.log(c);
        }

    }).done(function(data){

        if(data.status == 'True'){

/*             $("#check-"+tarea).attr('name','1'); */
            $("#pendiente-"+tarea).removeClass("activo");
            $("#tarea-"+tarea).fadeOut();

        }else if(data.status == 'False'){

/*             $("#check-"+tarea).attr('name','2'); */
            $("#realizada-"+tarea).addClass("activo");


        }else if(data.status == "None"){
            $("#no-aplica-"+tarea).removeClass("activo");
            $("#tarea-"+tarea).fadeOut();

        }

    });

}

</script>

	{% block js-nivel-1 %}
	{% endblock %}
	{% block js-nivel-2 %}
	{% endblock %}
	{% block js-nivel-3 %}
	{% endblock %}
	
	{% block js %}
	{% endblock %}

</body>

</html>
