{% extends "admin.html" %}
{% load bootstrap %}
{% block titulo %}
    Nuevo Torneo
{% endblock %}
{% block seccion-contenido %}
<div class="login-container">
<form class="form-signin" id='formulario' method='post' action=''>{% csrf_token %}
<div class="row">
        <div class="col-md-12">
            {{ formulario | bootstrap }}
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>Invitados</h4>
            </div>
            <div class="col-md-6 text-right">
                <a id="agregar-sala" class="btn btn-primary">Agregar Invitado</a>
            </div>

                <table id="salas-formset-container" class="table table-stripped">
                    
                    <tbody id="salas-formset-body">
                        {{ invitados_forms.management_form }}
                        {% for invitadoform in invitados_forms %}
                            <tr>
                                <td>
                                    <div class="form-group">


                                        {{ invitadoform.email | bootstrap_horizontal}}

                                {% if invitadoform.can_delete %}

                                            <label>
                                                {{ invitadoform.DELETE }}
                                                Eliminar
                                            </label>

                                {% endif %}


                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

        </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Crear</button>
        </div>
</form>
</div>
{% endblock %}
{% block js %}
    <script type="text/html" id="sala-template">
        {% with invitados_forms.empty_form as form %}
            <tr>
                <td>
                    
                        {{ form.email | bootstrap_horizontal }}


                {% if invitados_forms.can_delete %}
		<div class="text-right">
                            <label>
                                {{ form.DELETE }} Borrar
                            </label>
		</div>
                {% endif %}

                    
                </td>

            </tr>
        {% endwith %}
    </script>
    <script type="text/javascript">
        $( '#agregar-sala' ).on('click', function(event) {
            event.preventDefault();
            /* Act on the event */
            var numForms = parseInt( $( '#id_form-TOTAL_FORMS' ).val() );
            var tmpl = $( '#sala-template' ).html();
            var compiledTmpl = tmpl.replace(/__prefix__/g, numForms);

            $( '#id_form-TOTAL_FORMS' ).attr('value',numForms+1);
            $( '#salas-formset-body' ).append(compiledTmpl);
        });

    </script>


{% endblock %}
