{% extends "admin.html" %}
{% load bootstrap %}
{% block titulo %}
    
{% endblock %}
{% block css %}
    <link href="{{ STATIC_URL }}css/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
{% endblock %}
{% block seccion-contenido %}
<div class="login-container">


<div class="panel panel-primary">
			<div class="panel-heading">
Crear torneo
	</div>
	<div class="panel-body">

<form class="form-signin" id='formulario' method='post' action=''>{% csrf_token %}
<div class="row">
        <div class="col-md-12">
            {{ formulario | bootstrap }}
        </div>
        <div class="col-md-12">
            <div class="col-md-6">
                <h4>Invitados</h4>
            </div>
            <div class="col-md-6 text-right">
                <a id="agregar-invitacion" class="btn btn-primary">Agregar Invitado</a>
            </div>

                <table id="salas-formset-container" class="table table-stripped">
                    
                    <tbody id="email-formset-body">
                        {{ invitados_forms.management_form }}
                        {% for invitadoform in invitados_forms %}
                            <tr>
                                <td>
                                    <div class="form-group">


                                        {{ invitadoform.email | bootstrap_horizontal}}

                                {% if invitadoform.can_delete %}

                                            <label>
                                                {{ invitadoform.DELETE }}
                                                Eliminar
                                            </label>

                                {% endif %}


                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
<button class="btn btn-lg btn-primary btn-block" type="submit">Crear</button>

        </div>
            
        </div>
</form>

</div>
</div>


</div>
{% endblock %}
{% block js %}
    <script type="text/html" id="invitacion-template">
        {% with invitados_forms.empty_form as form %}
            <tr>
                <td>
                    
                        {{ form.email | bootstrap_horizontal }}


                {% if invitados_forms.can_delete %}
		<div class="text-right">
                            <label>
                                {{ form.DELETE }} Borrar
                            </label>
		</div>
                {% endif %}

                    
                </td>

            </tr>
        {% endwith %}
    </script>
    <script type="text/javascript">
     /**
        *  Adjuntar un widget de autocompletación al formulario para añadir
        *  un miembro al elenco
        */
       function bindAutocomplete( numForm ) {
           $( '#id_form-' + numForm + '-email' ).autocomplete({
               minLength: 2,
               source: function( request, response ) {
                   $.get(
                       '/email_autocomplete',
                       {
                           q : request.term
                       },
                       function(data) {
                           response(data);
                       }
                   );
               },
               focus: function( event, ui ) {
                   $( '#id_form-' + numForm + '-email' ).val( ui.item.email );
                   return false;
               },
               select: function( event, ui ) {
                   $( '#id_form-' + numForm + '-email' ).val( ui.item.email );
                   return false;
               }
           })
           .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
               return $( "<li>" )
               .append( "<a><p>" + item.nombre + " "+ item.apellido + "<br>" + item.email +  "</p></a>" )
               .appendTo( ul );
           };
       }

    $( '#agregar-invitacion' ).on('click', function(event) {
           event.preventDefault();

           var numForms = parseInt( $( '#id_form-TOTAL_FORMS' ).val() );
           var tmpl = $( '#invitacion-template' ).html();
           var compiledTmpl = tmpl.replace(/__prefix__/g, numForms);

           $( '#id_form-TOTAL_FORMS' ).attr('value',numForms+1);
           $( '#email-formset-body' ).append(compiledTmpl);

           bindAutocomplete( numForms );
       });

       $( 'input.email-autocomplete' ).each( function( index ) {
           $( this ).autocomplete({
               minLength: 2,
               source: function( request, response ) {
                   $.get(
                       '/email_autocomplete',
                       {
                           q : request.term
                       },
                       function(data) {
                           response(data);
                       }
                   );
               },
               focus: function( event, ui ) {
                   $( '#id_form-' + index + '-email' ).val( ui.item.email );
                   return false;
               },
               select: function( event, ui ) {
                   $( '#id_form-' + index + '-email' ).val( ui.item.email );

                   return false;
               }
           })
           .data( "ui-autocomplete" )._renderItem = function( ul, item ) {
               return $( "<li>" )
              .append( "<a><p>" + item.nombre + " "+ item.apellido + "<br>" + item.email +  "</p></a>" )
               .appendTo( ul );
           };
       })

    </script>


{% endblock %}
