{% extends 'admin.html' %}
{% block titulo %}
   {% if no_login %} {{ usuario.first_name }} {{ usuario.last_name }}{% else %}Mi quiniela{% endif %}
{% endblock %}
{% block seccion-contenido %}
<div class="row">
{% if no_login %}{% else %}<div class="fb-share-button" data-href="https://quiniela.turpialdev.com/compartir_quiniela/{{ user.id }}" data-type="button_count"></div> Compartir los resultados de mi quiniela.{% endif %}
 

    {% for grupo in grupos %}
	<div class="col-md-6">

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h4>{% if no_login == 0 %}<a href="/poner_resultados/{{ grupo.0.id }}">Grupo {{ grupo.0.nombre }}  <i class="fa fa-pencil fa-fw"></i>modificar</a>{% else %}Grupo {{ grupo.0.nombre }}{% endif %}</h4>
			</div>
			<div class="panel-body">
				{% for partido in grupo.1 %}
                <div class="col-md-6">
				    <div class="miquiniela-equipos">
					    <img src="{{ MEDIA_URL }}{{ partido.partido.equipoL.bandera }}" height="30" width="43" title="{{ partido.partido.equipoL.pais }}" style="margin-right: 10px;">
					    {{ partido.golesL }}
                        vs
					    {{ partido.golesV }}
					    <img src="{{ MEDIA_URL }}{{ partido.partido.equipoV.bandera }}" height="30" width="43" title="{{ partido.partido.equipoV.pais }}" style="margin-left: 10px;">

					</div>
                </div>
                    {% empty %}
                            <p>Debes darle a modificar para crear los resultados de este grupo!</p>
				{% endfor %}
			</div>
		</div>
	</div>

    {% endfor %}
</div>

    <div class="col-sm-6">

    </div>
{% endblock %}
